.DS_Store
CarBlazor/bin/Debug/net8.0/CarBlazor.DAL.dll
CarBlazor/bin/Debug/net8.0/CarBlazor.DAL.pdb
CarBlazor/bin/Debug/net8.0/CarBlazor.Services.dll
CarBlazor/bin/Debug/net8.0/CarBlazor.Services.pdb
CarBlazor/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
CarBlazor/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
CarBlazor/bin/Debug/net8.0/Microsoft.Extensions.ObjectPool.dll
CarBlazor/bin/Debug/net8.0/Microsoft.Extensions.WebEncoders.dll
CarBlazor/bin/Debug/net8.0/Npgsql.dll
CarBlazor/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
CarBlazor/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
CarBlazor/bin/Debug/net8.0/System.Security.Cryptography.Xml.dll
CarBlazor/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
CarBlazor.DAL/bin/Debug/net8.0/CarBlazor.DAL.deps.json
CarBlazor.DAL/bin/Debug/net8.0/CarBlazor.DAL.dll
CarBlazor.DAL/bin/Debug/net8.0/CarBlazor.DAL.pdb
CarBlazor.DAL/bin/Debug/net8.0/CarBlazor.DAL.runtimeconfig.json
CarBlazor.DAL/obj/CarBlazor.DAL.csproj.nuget.dgspec.json
CarBlazor.DAL/obj/CarBlazor.DAL.csproj.nuget.g.props
CarBlazor.DAL/obj/CarBlazor.DAL.csproj.nuget.g.targets
CarBlazor.DAL/obj/project.assets.json
CarBlazor.DAL/obj/project.nuget.cache
CarBlazor.DAL/obj/project.packagespec.json
CarBlazor.DAL/obj/rider.project.model.nuget.info
CarBlazor.DAL/obj/rider.project.restore.info
CarBlazor.DAL/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.AssemblyInfo.cs
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.AssemblyInfoInputs.cache
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.assets.cache
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.csproj.AssemblyReference.cache
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.csproj.CoreCompileInputs.cache
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.csproj.FileListAbsolute.txt
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.dll
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.GeneratedMSBuildEditorConfig.editorconfig
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.genruntimeconfig.cache
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.GlobalUsings.g.cs
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.pdb
CarBlazor.DAL/obj/Debug/net8.0/CarBlazor.DAL.sourcelink.json
CarBlazor.DAL/obj/Debug/net8.0/ref/CarBlazor.DAL.dll
CarBlazor.DAL/obj/Debug/net8.0/refint/CarBlazor.DAL.dll
CarBlazor.DAL/Properties/launchSettings.json
CarBlazor.Services/bin/Debug/net8.0/CarBlazor.DAL.dll
CarBlazor.Services/bin/Debug/net8.0/CarBlazor.DAL.pdb
CarBlazor.Services/bin/Debug/net8.0/CarBlazor.Services.deps.json
CarBlazor.Services/bin/Debug/net8.0/CarBlazor.Services.dll
CarBlazor.Services/bin/Debug/net8.0/CarBlazor.Services.pdb
CarBlazor.Services/bin/Debug/net8.0/CarBlazor.Services.runtimeconfig.json
CarBlazor.Services/obj/CarBlazor.Services.csproj.nuget.dgspec.json
CarBlazor.Services/obj/CarBlazor.Services.csproj.nuget.g.props
CarBlazor.Services/obj/CarBlazor.Services.csproj.nuget.g.targets
CarBlazor.Services/obj/project.assets.json
CarBlazor.Services/obj/project.nuget.cache
CarBlazor.Services/obj/project.packagespec.json
CarBlazor.Services/obj/rider.project.model.nuget.info
CarBlazor.Services/obj/rider.project.restore.info
CarBlazor.Services/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CarBlazor.Services/obj/Debug/net8.0/CarBlazo.F2280FE1.Up2Date
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.AssemblyInfo.cs
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.AssemblyInfoInputs.cache
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.assets.cache
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.csproj.AssemblyReference.cache
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.csproj.CoreCompileInputs.cache
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.csproj.FileListAbsolute.txt
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.dll
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.GeneratedMSBuildEditorConfig.editorconfig
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.genruntimeconfig.cache
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.GlobalUsings.g.cs
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.pdb
CarBlazor.Services/obj/Debug/net8.0/CarBlazor.Services.sourcelink.json
CarBlazor.Services/obj/Debug/net8.0/ref/CarBlazor.Services.dll
CarBlazor.Services/obj/Debug/net8.0/refint/CarBlazor.Services.dll
CarBlazor.Services/Properties/launchSettings.json
CarBlazorTest/bin/Debug/net8.0/CarBlazor.DAL.dll
CarBlazorTest/bin/Debug/net8.0/CarBlazor.DAL.pdb
CarBlazorTest/bin/Debug/net8.0/CarBlazor.Services.dll
CarBlazorTest/bin/Debug/net8.0/CarBlazor.Services.pdb
CarBlazorTest/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
CarBlazorTest/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
CarBlazorTest/bin/Debug/net8.0/Microsoft.Extensions.ObjectPool.dll
CarBlazorTest/bin/Debug/net8.0/Microsoft.Extensions.WebEncoders.dll
CarBlazorTest/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
CarBlazorTest/bin/Debug/net8.0/System.Security.Cryptography.Xml.dll
CarBlazorTest/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
