@page "/admin/users"
@attribute [Authorize(Roles = "Admin")]
@using CarBlazor.Components.Constants
@using CarBlazor.Models
@using Microsoft.AspNetCore.Authorization
@using CarBlazor.Components.Search
@using CarBlazor.Services
@using CarBlazor.Components.Datagrid
@inject UserService UserService
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<Search Placeholder="Search users..." OnSearch="HandleSearch" />

<p>
    <a href="/admin/users/create" class="btn btn-primary">Create New</a>
</p>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}
@if (IsLoading)
{
    <p>Loading...</p>
}
else if (Users == null || Users.Count == 0)
{
    <p>No customers found</p>
}
else
{
    <Datagrid TItem="User" Items="Users" Columns="_userColumns" OnRowClick="HandleRowClick">
        <RowActions Context="user">
            <DeleteButton OnClick="@(() => DeleteConfirm(user.Id))" />
        </RowActions>
    </Datagrid>
}

@code {
    private List<User>? Users { get; set; }
    private bool IsLoading { get; set; } = true;
    private string? ErrorMessage { get; set; }
    private readonly List<DataGridColumn<User>> _userColumns = DatagridColumnDefinitions.UserColumns;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Users = await UserService.GetUsersAsync();
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Error loading customers: {ex.Message}";
        }
        finally
        {
            IsLoading = false;
        }
    }

    private async Task HandleSearch(string searchTerm)
    {
        try
        {
            IsLoading = true;
            Users = await UserService.SearchUsersAsync(searchTerm);
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Error searching customers: {ex.Message}";
        }
        finally
        {
            IsLoading = false;
        }
    }

    private void HandleRowClick(User user)
    {
        Navigation.NavigateTo($"admin/users/{user.Id}");
    }

    private async Task DeleteConfirm(int id)
    {
        try
        {
            var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this user?");

            if (confirmed)
            {
                var success = await UserService.DeleteUserAsync(id);
                if (success)
                {
                    Users = await UserService.GetUsersAsync();
                }
                else
                {
                    ErrorMessage = "Failed to delete user. User not found.";
                }
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Error deleting user: {ex.Message}";
        }
    }
}